.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo {
  font-size: 30px;
}

.body {
  background-color: red;
  width: 100vw;
  padding-top: 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-bottom: 50px;
}

.header {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  box-shadow: 1px 10px black;
  padding: 5px;
  border-radius: 5px;
  padding-top: 10px;
}

.inner-header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  font-weight: 900;
}

.header2 {
  justify-content: space-between;
  display: flex;
  width: 60%;
}

.social-item {
  width: 40px;
}

.social {
  display: flex;
  width: 10%;
  justify-content: space-between;
}

.item:hover {
  transform: scaleX(0.9);
}

.item {
  color: black;
}

.section1 {
  margin-top: 100px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 100px;
  font-family: "Ubuntu", sans-serif;
}

.box {
  color: black;
  margin-left: 50px;
}

.box-text1 {
  font-weight: 900;
  font-size: 100px;
}

.box-text2 {
  font-weight: 900;
  font-size: 30px;
}

.dede {
  font-size: 20px;
  font-weight: 900;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Workbench", sans-serif;
}

.buy {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.soc {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.section2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  color: black;
  padding: 20px;
  justify-content: space-between;
}

.pepe {
  width: 400px;
  display: block;
  margin-top: 50px;
}

.section2-box {
  padding-top: 50px;
  width: 45%;
}

.text1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 50px;
}

.text2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 50px;
}

.text3 {
  font-family: "Workbench", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 50px;
  padding-top: 60px;
}

.section3 {
  margin-top: 150px;
}

.text4 {
  font-size: 60px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  color: black;
  font-weight: 900;
}

.text6 {
  font-size: 24px;
  font-family: "Workbench", sans-serif;
}

.text7 {
  font-size: 24px;
  font-family: "Ubuntu", sans-serif;
}

.card {
  width: 400px;
  border: 10px solid black;
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: white;
  color: black;
  transform: rotate(-10deg);
}

.img {
  width: 400px;
}

.cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.section4 {
  margin-top: 150px;
}

.faq-inner {
  display: flex;
  justify-content: space-between;
}

.faqbox {
  background: rgba(255, 255, 255, 0.043);
  color: black;
  padding: 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.text8 {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: black;
}

@media (max-width: 768px) {
  .section1 {
    margin-top: 100px;
    width: 80%;
    margin-bottom: 100px;

    flex-direction: column;
  }

  .pdede {
    width: 100%;
  }

  .section2 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    color: black;
    padding: 20px;
    justify-content: space-between;

    flex-direction: column;
  }

  .pepe {
    width: 100%;
    display: block;
    margin-top: 50px;
  }

  .card {
    width: 80%;
    border: 10px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: white;
    color: black;
    transform: rotate(-10deg);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .img {
    width: 100%;
  }
}
